
    <div class="thing-gwc">

      <!-- 主体 -->
      <div class="wrapper">
        <div class="wrap-inner">
          <div class="thing" ng-repeat="value in gwcList">
            <section class="top">
              <span class="qx xz"></span>
              <p>{{value.name}}</p>
            </section>
            <section class="center">
              <span class="qx xz"></span>
              <a href="#/spxq?id={{value.id}}&type={{value.type}}">
                <img src="{{value.imgUrl}}" alt="" />
              </a>
              <div class="right">
                <p class="price">
                  <span class="span1">{{ value.name }}</span>
                  <span class="span2">￥{{ value.price }}</span>
                </p>
                <p class="info">颜色:浅粉色 尺寸:S</p>
                <div class="number">
                      <section class="reduce" ng-click="reduceCount($index)"></section>
                      <input type="text" name="name" value="{{value.count}}" readonly="readonly">
                      <section class="add" ng-click="addCount($index)"></section>
                      <span class="del" ng-click="remove($index)"></span>
                </div>
              </div>
            </section>
            <section class="bottom">共<span class="count">{{value.count}}</span>件
              <span class="sum">合计：</span>
              <span class="price">￥<span class="price1">{{value.count*value.price}}</span></span>
            </section>
          </div>
        </div>

      <!-- 尾部 -->
      <footer>
          <div class="top">
              <section class="left">
                  <a href="#">登录</a>
                  <span>|</span>
                  <a href="#">注册</a>
              </section>
              <section class="right">
                  <a href="#">关于必要</a>
                  <span>|</span>
                  <a href="#">回顶部</a>
              </section>
          </div>
          <div class="bottom">
              <mark>触屏版</mark>
              <span>|</span>
              <a href="#">客户端</a>
          </div>
      </footer>
      </div>
      <!-- 尾部 -->
      <footer>
          <div class="left">
            <span class="qx xz"></span>
            <mark>全选</mark>
          </div>
          <div class="right">
            <mark>合计：</mark>
            <span>￥<span class="price1">{{allMoney}}</span></span>
            <!-- <input type="button" name="name" value="结算(1)"> -->
            <a href="#/orderInfo"><div>结算(<span>{{allCount}}</span>)</div></a>
          </div>
      </footer>
    </div>
